<% layout("layouts/boilerplate") %>

<div class="row">
  <div class="col-md-6">
    <h5><strong>Name :</strong> <%= user.username %></h5>

    <h5>
      <strong>Email :</strong>
      <a href="mailto:<%= user.email %>"><%= user.email %></a>
    </h5>
    <p>
      <strong>BIO -</strong>
      <br />
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
      dignissimos ad perspiciatis quasi aliquam at, ea qui. Molestias voluptates
      reiciendis modi rem quos magnam. Accusamus?
    </p>
    <% if (currentUser && currentUser._id.equals(user._id)) { %>
    <hr />
    <h4>Profile Settings</h4>
    <form
      action="/user/<%= user._id %>?_method=PUT"
      method="POST"
      class="validated-form my-4"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          value="<%= user.username %>"
          autofocus
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input
          class="form-control"
          type="email"
          id="email"
          name="email"
          value="<%= user.email %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Your Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="currentPassword"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="newpassword">New Password</label>
        <input
          class="form-control"
          type="password"
          id="newpassword"
          name="newPassword"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="confirmpassword">Confirm Password</label>
        <input
          class="form-control"
          type="password"
          id="confirmpassword"
          name="passwordConfirmation"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success btn-block">Update!</button>
    </form>
    <% } %>
  </div>
  <div class="col-md-6">
    <h3><%= user.username %>'s Campgrounds :-</h3>
    <ul class="list-group list-group-flush">
      <% camps.forEach((camp) => { %>
      <li class="list-group-item">
        <a
          href="/campgrounds/<%= camp.id %>"
          class="list-group-item list-group-item-action"
          ><%= camp.title %></a
        >
      </li>
      <% }) %>
    </ul>
  </div>
</div>
